.container {
  width: 100%;
  display: flex;
  color: white;
  height: fit-content;
  align-items: center;
  background: rgb(238, 117, 184);
}

.containerGrid {
  height: 100%;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.leftSection {
  top: 90px;
  width: 584px;
  display: flex;
  position: sticky;
  flex-direction: column;
  position: -webkit-sticky;
  height: calc(100vh - 90px);
}

.mainSection {
  width: 100%;
  padding-left: 80px;
}

.fixedLeftHeader {
  height: 79px;
  display: flex;
  line-height: 30px;
  border-bottom: 1px solid white;
}

.fixedLeftHeader:last-child {
  border-bottom: none;
}

#isDisplayingSection {
  color: green;
  height: calc(100% - 237px);
}


/* Experience block header */
.experienceBlockHeader {
  display: flex;
  justify-content: space-between;
}

.experienceBlockHeader > div {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bulletpoints p,
.educationBlockHeader p,
.experienceBlockHeader p {
  margin: 0;
}

.educationBlockHeader p,
.experienceBlockHeader p {
  font-weight: 600;
}

.educationBlockHeader > div > h3,
.experienceBlockHeader > div > h3 {
  margin: 0;
  line-height: 28px;
}

.educationBlockHeader p,
.experienceBlockHeader > div > p {
  margin: 0;
  font-weight: 600;
  line-height: 15px;
}
/* End - Experience Block header */

/*  Skills Block Header */
.skillsCategory > h3 {
  margin: 0;
  line-height: 28px;
}

.skillsGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 76px 0;

}

.skillsGroup > div {
  margin-right: 8px;
  margin-bottom: 8px;
}
/* End - Skills Block header */

/* Education Block Header */
.educationBlockHeader {
  display: flex;
  flex-direction: column;
}

.educationBlockHeader > div {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.educationBlockHeader > div:last-child {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.educationBlockHeader > div:last-child > ul {
  margin-top: 33px;
}

.educationBlockTitle {
  display: flex;
  flex-direction: column;
  height: 55px;
  justify-content: space-between;
}

.educationBlockTitle > h3 {
  margin: 0;
  line-height: 28px;
}
/* End - Education Block Header */

.bulletpoints {
   margin: 20px 0 76px 0;
   padding: 0;
   padding-left: 13px;
   line-height: 17px;
}

.bulletpoints li {
  margin-bottom: 15px; 
}

.bulletpoints li:last-child {
  margin-bottom: 0;
}


@media (max-width: 1300px) {
  .containerGrid {
    width: calc(100% - 88px);
  }
}

@media (max-width: 1100px) {
  .container {
    height: fit-content;
  }

  .containerGrid {
    margin: 0;
    width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 650px) {
  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
